[Unit]
Description=Run Moment Campus Expire Posts Worker Every 30 Minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=30s
Persistent=true
Unit=moment-expire-posts.service

[Install]
WantedBy=timers.target
